<h1>Events</h1>

<ul>
  <% @events.each do |event| %>
      <li>
        <%= event.name %>
        <%= " - " + event.location %>
        <%= " - " + event.event_datetime.strftime("%Y-%m-%d") %>
      </li>
  <% end %>
</ul>